body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; 
  height: 100%;
  width: 100%;
  background-color: #1b1b1b; 
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}